@model SportsApp2.Models.ResetPassword
@{
    Layout = null;
    ViewData["Title"] = "ResetPassword";

}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sports Managment -Reset Password</title>
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/5/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   
</head>
<body>
    <!-- Sidebar/menu -->
    <nav class="w3-sidebar w3-collapse  w3-animate-left" style="z-index:3;width:300px; background-color:#e6eff9;" id="mySidebar">
        <br>
        <div class="w3-container">
            <a href="#" onclick="w3_close()" class="w3-hide-large w3-right w3-jumbo w3-padding w3-hover-grey" title="close menu">
                <i class="fa fa-remove"></i>
            </a>
            <img src="~/logo.png" alt=Logo style="width:45%; " class="w3-round"><br><br>
                <h4><b>Sports Management</b></h4>

            </div>
            <div class="w3-bar-block">
                <a asp-controller="Home" asp-action="NFLPage1" onclick="w3_close()" class="w3-bar-item w3-button w3-padding"><i class="fa fa-th-large fa-fw w3-margin-right"></i>HOME</a>
                <a asp-controller="Home" asp-action="User" onclick="w3_close()" class="w3-bar-item w3-button w3-padding" style="color:#2694e1;"><i class="fa fa-user fa-fw w3-margin-right"></i>USER</a>
                <a asp-controller="Home" asp-action="Contact" onclick="w3_close()" class="w3-bar-item w3-button w3-padding"><i class="fa fa-envelope fa-fw w3-margin-right"></i>CONTACT</a>

            </div>
            <div class="w3-panel w3-large">
                <i class="fa fa-facebook-official w3-hover-opacity"></i>
                <i class="fa fa-instagram w3-hover-opacity"></i>
                <i class="fa fa-snapchat w3-hover-opacity"></i>
                <i class="fa fa-pinterest-p w3-hover-opacity"></i>
                <i class="fa fa-twitter w3-hover-opacity"></i>
                <i class="fa fa-linkedin w3-hover-opacity"></i>
            </div>
        </nav>

        <!-- Overlay effect when opening sidebar on small screens -->
        <div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

        <div class="main-content">
            <div class="login-container">
                <div class="login-card">
                    <div class="login-header">
                        <div class="logo">
                            <img src="~/logo.png" alt=Logo style="width:45%; " class="w3-round"><br><br>
                            </div>
                            <h1>Reset Password</h1>
                            <p>Reset you password to continue</p>
                        </div>

                        <form asp-action="ResetPassword" asp-controller="Home" method="post" class="login-form" id="forgotPasswordForm">
                            @Html.AntiForgeryToken()

                            <div asp-validation-summary="All" class="text-danger"></div>

                            <div class="form-group">
                                <label asp-for="Email"></label>
                                <input asp-for="Email" class="form-control" readonly />
                               
                            </div>

                            <div class="form-group">
                                <label asp-for="NewPassword"></label>
                                <input asp-for="NewPassword" class="form-control" type ="password"/>
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="ConfirmPassword"></label>
                                <input asp-for="ConfirmPassword" class="form-control" type="password" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
         
                            <button type="submit" class="login-btn">
                                <span class="btn-text">Reset Password</span>
                            </button>

                        </form>
                    </div>
                       
                        
                       

                   

                    <script>
                                    function w3_open() {
                                        document.getElementById("mySidebar").style.display = "block";
                                        document.getElementById("myOverlay").style.display = "block";
                                    }

                                    function w3_close() {
                                        document.getElementById("mySidebar").style.display = "none";
                                        document.getElementById("myOverlay").style.display = "none";
                                    }
                    </script>
                </body>
            </html>
