@page
@functions
{
    public string? Dayname { get; set; }
    public void OnGet()
    {
        ViewData["Title"] = "Northwind B2B - CPT 206"; 
        Model.Dayname = DateTime.Now.ToString("dddd");
    }
}

<div class="jumbotron">
    <h1 class="display-3">Welcome to Northwind B2B</h1>
    <p class="lead">We supply products to our customers.</p>
    <hr />
    <h2>This is a Razor page.</h2>
    <p>It's @Model.Dayname! Our customers include restaurants, hotels, and cruise lines.</p>
    <p>
        <a class="btn btn-primary"
            href="suppliers">Learn more about our suppliers</a>
    </p>
    <p>
        <a class="btn btn-info"
           href="orders">Check Order Count</a>
    </p>
    <p>
        <a class="btn btn-warning"
           href="myFeature/employees">Contact Our Employees</a>
    </p>
</div>